// declare variables for common css properties

// typography

$global-font-size: 62.5%;
$mobile-screen-global-font-size: 56%;


$font-size: 1.6rem;
$line-height: 1.25;

$border-radius: 0.8rem;

$body-max-width: 1600px;

// spacing 
$margin-4: 0.4rem;
$margin-8: 0.8rem;
$margin-12: 1.2rem;
$margin-16: 1.6rem;
$margin-20: 2rem;
$margin-24: 2.4rem;
$margin-28: 2.8rem;
$margin-32: 3.2rem;

$padding-4: 0.4rem;
$padding-8: 0.8rem;
$padding-12: 1.2rem;
$padding-16: 1.6rem;
$padding-20: 2rem;
$padding-24: 2.4rem;
$padding-28: 2.8rem;
$padding-32: 3.2rem;


// responsiveness
$desktop-screen-max-width: 1200px;
$tab-screen-max-width: 1024px;
$mobile-screen-max-width: 650px;